<div class="row">
    <div class="col">
        <h1 class="h1 display-6">Products</h1>
        <span class="text-success fw-bold fs-1">&mdash;</span>
    </div>
</div>
<div class="mt-5 row row-cols-1 row-cols-md-3 justify-content-start gap-y-3">
    <% if (products.length> 0) { %>
        <% products.forEach(product=> { %>
            <div class="col d-flex">
                <div class="card">
                    <img src="/images/products/<%= product.imageUrl %>" alt="" class="card-img-top" height="250" style="object-fit: cover;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h2 class="h2 fs-4">
                            <%= product.name %>
                        </h2>
                        <div>
                            <p class="text-muted">
                                <%= product.shortDescription %>
                            </p>
                            <p class="lead text-black">
                                UGX <%= product.unitPrice %>
                            </p>
                            <a href="/products/<%= product.id %>" class="card-action stretched-link btn btn-sm btn-outline-success text-uppercase">See details</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
                <% } else { %>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="h2 fs-4 fw-semibold">No products found</h2>
                                <p class="lead">Products could not be loaded. Send a direct email to customer
                                    service
                                </p>
                                <a href="/" class="btn btn-sm btn-outline-success">Go to home page</a>
                            </div>
                        </div>
                    </div>
                    <% } %>

</div>